.logo {
    text-align: center;
    height: 80px;
    line-height: 80px;
  img {
    height: 33px;
    width: 63px;
    text-align: center;
    vertical-align: middle;
    border:0;
  }
  a {
    color: #337ab7;
  }
}